.listPrice {
  font-size: 12px;
  color: #fff;
}

.sellingPriceValue--home-shelf {
  font-weight: bold;
  font-size: 16px;
  color: #47ff3a;
}

.sellingPriceValue--product-page {
  font-size: 16px;
  color: #fff;
}

