.slide--carousel {
  margin-top: 70px;
}

.sliderLayoutContainer--carousel {
  background: #303030;
}

.sliderArrows--carousel {
  color: #fff;
}

.imageElement--carousel {
  border-radius: 24px;
  max-width: 900px;
  margin-bottom: 40px;
}

.paginationDot {
  background: #6e6e6e;
}

.paginationDot--isActive {
  background: #47ff3a;
}

.sliderArrows {
  color: #fff;
}

.slide--shelf--visible {
  margin: 32px 0;
  height: 520px;
}