.flexRowContent--header-desktop {
  background: #212121;
  height: 88px;
  align-items: center;
}

.flexRowContent--header-mobile {
  background: #212121;
  height: 88px;
  align-items: center;
}

.flexCol--tab-content {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.flexCol--price {
  margin: 0 16px;
}

.flexCol--product-page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .flexCol--product-page {
    margin-bottom: 100px;
  }
}

.flexColChild--logo-mobile {
  position: relative;
  right: 15px;
  margin-right: 15px;
}
